MEMORY {
    ZP:     file = "", start = $0002, size = $001A, type = rw, define = yes;

    # - 2K ROM Bank
    # - startup
    # - code
    # - rodata
    # - data (load)
    ROM0:   file = %O, start = $F800, size = $7FA, fill = yes, define = yes;

    # Hardware Vectors at End of 2nd 8K ROM
    ROMV:   file = %O, start = $FFFA, size = $0006, fill = yes;

    # 1 8k CHR Bank
    VRAM0:   file = "", start = $6000, size = $2000, define = yes;

    # standard 2k SRAM (-zeropage)
    # $0100-$0200 cpu stack
    # $0200-$0500 3 pages for ppu memory write buffer
    # $0500-$0800 3 pages for cc65 parameter stack
    SRAM:   file = "", start = $0200, size = $0600, define = yes;

    # additional 8K SRAM Bank
    # - data (run)
    # - bss
    # - heap
    IO:    file = "", start = $0800, size = $0010, define = yes;
}
SEGMENTS {
    ZEROPAGE: load = ZP,               type = zp;
    STARTUP:  load = ROM0,             type = ro,  define   = yes;
    CODE:     load = ROM0,             type = ro,  define   = yes;
    VRAM:     load = VRAM0, run = VRAM0, type = rw,  define   = yes;
    DATA:     load = ROM0, run = SRAM, type = rw,  define   = yes;
    VECTORS:  load = ROMV,             type = rw;
    IO:       load = IO,               type = rw;
}
FEATURES {
    CONDES: type    = constructor,
            label   = __CONSTRUCTOR_TABLE__,
            count   = __CONSTRUCTOR_COUNT__,
            segment = ONCE;
    CONDES: type    = destructor,
            label   = __DESTRUCTOR_TABLE__,
            count   = __DESTRUCTOR_COUNT__,
            segment = RODATA;
    CONDES: type    = interruptor,
            label   = __INTERRUPTOR_TABLE__,
            count   = __INTERRUPTOR_COUNT__,
            segment = RODATA,
            import  = __CALLIRQ__;
}
